<div class="container">
   <%= flash_messages %>
</div>

<div class="container">
  <%= form_for :session, url: sessions_path,html: { class: "form-signin" } do |f| %>
    <h2 class="form-signin-heading">Please sign in</h2>
    <%= f.number_field :account_id, class: "form-control", placeholder: "Account number"%>
    <br/>
    <%= f.button "Sign In", class: "btn btn-lg btn-primary btn-block" %>
  <% end %>
</div>
